.footer{
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.box1{
    margin: 50px;
    padding: 18px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background: red; */
    /* color: wheat; */
}
.box-h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.box2{
    margin: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.boro1{
    margin-bottom: 50px;
    
}
.choto{
    
    
}
h1{
    font-size: 2rem;
}
.list ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.list ul li{
    margin-bottom: 20px;
    font-size: 1.6rem;
}
