.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #212a31;
    position: relative;
    overflow: hidden;
  }
  .home video{
    filter: blur(1px); /* Optional blur */
    /* position: absolute; */
    /* height: 100vh;
    width: 100vw;
    z-index: 3; */
    /* padding-left: 900px; */
    /* right: 2px; */

  }

  .h-image{
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* opacity: 0; */
    
  }
  
  /* .h-image {
    position: absolute;
    width: 200px;
    height: auto;
    background: red;
    right: 30%;
    transform: scale(0.1);
    opacity: 0;
    transition: transform 5s ease-in-out, opacity 5s ease-in-out;
  }
  
  .h-image.animate {
    transform: scale(6);
    opacity: 1;
  } */
  
  .write {
    position: absolute;
    /* top: 1px; */
    left: 10%;
    width: 30%;
    z-index: 1;
    /* background: red; */
  }
  /* .write img{
    height: 500px;
  }
  .write h1{
    padding-top: 10px;
    color: rgb(0, 13, 155);
    font-size: 1.4rem;
    font-weight: 100;
    
  } */
  .container-profile{
    user-select: none;
    margin: 100px auto;
    background: #231e39;
    color: #b3b8cd;
    border-radius: 5px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
    z-index: 10;
  }
  .cover-photo{
    background: url(https://images.unsplash.com/photo-1540228232483-1b64a7024923?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 93px 0 0 -175px;
    border: 1px solid #1f1a32;
    padding: 7px;
    background: #292343;
  }
  .profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 27px 0 0 120px;
  }
  .about{
    margin-top: 35px;
    line-height: 21px;
  }
  button{
    margin: 10px 0 40px 0;
  }
  .msg-btn, .follow-btn{
    background: #03bfbc;
    border: 1px solid #03bfbc;
    padding: 10px 25px;
    color: #231e39;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
  }
  .follow-btn{
    margin-left: 10px;
    background: transparent;
    color: #02899c;
  }
  .follow-btn:hover{
    color: #231e39;
    background: #03bfbc;
    transition: .5s;
  }
  .container-profile i{
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
  }
  .container i:hover{
    color: #03bfbc;
  }
  
  
  @media (max-width: 770px) {
    .home {
      height: 150vh;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      background: #212a31;
      
      position: relative;
    }
    .write {
      position: absolute;
      bottom: 20%;
      left: 40%;
    }
    .h-image {
      position: absolute;
      width: 50px;
      height: auto;
      top: 20%;
      right: 46.5%;
      transform: scale(0.1);
      opacity: 0;
      transition: transform 5s ease-in-out, opacity 5s ease-in-out;
    }
    .h-image.animate {
      transform: scale(5);
      opacity: 1;
    }
}
@media (max-width: 428px){
    .write{
        left: 32%;
    }
}