.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color:#124e66; */
  padding: 15px 30px;
  color: rgb(220, 188, 3);
  position: fixed;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.c-name h3 {
  margin: 0;
  font-size: 1.6rem;
}

.ham {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow-x: hidden;
}
.ham h5{
  font-size: 1.6rem;
  color: rgb(220, 188, 3);
}

.h-icon {
  margin-left: 10px;
  font-size: 1.6rem;
  cursor: pointer;
  color: rgb(220, 188, 3);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%; /* Initially hidden */
  width: 100%;
  height: 100vh;
  background-color: #124e66;
  /* color: white; */
  color: rgb(220, 188, 3);
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.sidebar.open {
  right: 0;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

/* Sidebar Content */
.sidebar-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Sidebar Image */
.sidebar-image img {
  width: 550px;
  border-radius: 10px;
}

/* Sidebar Menu List */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgb(220, 188, 3);;
}

.sidebar ul li a {
  /* color: white; */
  color: rgb(220, 188, 3);
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.sidebar ul li a:hover {
  background-color: #444;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
}