.container-profile{
    user-select: none;
    margin: 100px auto;
    position: relative;
    top: 15px;
    background: #231e39;
    color: #b3b8cd;
    border-radius: 20px;
    width: 480px;
    height: 570px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.875);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
  }
  .container-profile:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  }
  .cover-photo{
    background: url(https://images.unsplash.com/photo-1540228232483-1b64a7024923?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
    height: 200px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    position: relative;
    /* object-fit: cover;
    background: yellow; */
  }
  .cover-photo img{
    position: absolute;
    border-radius: 50% ;
    border: 10px solid rgb(118, 147, 208);
    height: 220px;
    /* width: 150px; */
    top: 80px;
    left: 20px;
    /* background: white; */
    /* margin-top: 100px; */
  }
  .profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 93px 0 0 -175px;
    border: 1px solid #1f1a32;
    padding: 7px;
    background: #292343;
  }
  .profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 27px 0 0 230px;
  }
  .about{
    margin-top: 55px;
    /* line-height: 20px; */
    padding: 0 30px;
    text-align: justify;
    line-height: 1.4;
  }
  button{
    margin: 10px 0 40px 0;
  }
  .msg-btn, .follow-btn{
    background: #03bfbc;
    border: 1px solid #03bfbc;
    padding: 10px 25px;
    color: #231e39;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
  }
  .follow-btn{
    margin-left: 10px;
    background: transparent;
    color: #02899c;
  }
  .follow-btn:hover{
    color: #231e39;
    background: #03bfbc;
    transition: .5s;
  }
  .container i{
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
  }
  .container i:hover{
    color: #03bfbc;
  }
  .icons{
    padding: 30px 0;
    cursor: pointer;
  }
  @media (max-width:770px){
    .container-profile{
      height: 80vh;
      width: 80vw;
      position: relative;
    }
    .cover-photo img{
      position: absolute;
      left: 30%;
      height: 250px;
    }
    .profile-name{
      font-size: 2rem;
      font-weight: bold;
      margin: 150px 0 0 10px;
    }
    .about{
      margin-top: 8%;
      margin-bottom: 4%;
        font-size: 1.3rem;
      padding: 0 50px;
      text-align: justify;
      line-height: 1.4;
    }
  }
  @media (max-width:432px){
    .container-profile{
      height: 70vh;
      width: 80vw;
      position: relative;
    }
    .cover-photo img{
      position: absolute;
      top: 50%;
      left: 28%;
      height: 150px;
    }
    .profile-name{
      font-size: 1.4rem;
      font-weight: bold;
      margin: 70px 0 0 10px;
    }
    .about{
      margin-top: 4%;
      margin-bottom: 3%;
      font-size: 1rem;
      padding: 0 50px;
      text-align: justify;
      line-height: 1.4;
    }
  }
  @media (max-width:378px){
    .container-profile{
      height: 80vh;
    }
    .cover-photo img{
      position: absolute;
      top: 50%;
      left: 25%;
      height: 150px;
    }
  }